* {
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    line-height: 15px;
    font-size: 14px;
   
}

body {
    background-color: #23252C;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    max-width: 300px;
    margin: auto;
    text-align: center;
    /* border-radius: 30%; */
    background-color: #1A1B21;
    color: white;
    

}

.img{
    width: 100%;
    height: 300px;

}

.title {
    color: #F3BF99;
}

.btn {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    background-color: white;
    color: black;
    text-align: center;
    cursor: pointer;
    width: 70%;
    border-radius: 5px;

}

.info h2 {
    font-size: 20px;
}

.email-icon {
    padding-top: 2px;
}

.about-heading {
    text-align: left;
    margin-left: 45px;
    font-size: 17px;
}

.about-text {
    text-align: left;
    margin-left: 45px;
    
}

.interests-heading {
    text-align: left;
    margin-left: 45px;
    font-size: 17px;
}

.interests-text {
    text-align: left;
    margin-left: 45px;
}

footer {
    background-color: #161619;
    margin-top: 50px;
    padding: 15px;
}

.footer-imgs {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
